
.ipynb_checkpoints/Chain Building-checkpoint.ipynb

Transcripts/1.txt

Transcripts/10.txt

Transcripts/2.txt

Transcripts/3.txt

Transcripts/4.txt

Transcripts/5.txt

Transcripts/6.txt

Transcripts/7.txt

Transcripts/8.txt

Transcripts/9.txt
